#**CROP YIELD PREDICTION**

#Dataset 1

##Reading Dataset

In [1]:
import pandas as pd
df = pd.read_csv('karnataka.csv')
df

,Unnamed: 0,state_names,district_names,crop_year,season_names,crop_names,area,temperature,wind_speed,precipitation,humidity,soil_type,N,P,K,production,pressure
0,76865,Karnataka,BAGALKOT,1998,Kharif,Arhar/Tur,6154,301.802223,2.327734,1018.003584,63,silt,16.008,42.688,21.344,2602.0,1007
1,76866,Karnataka,BAGALKOT,1998,Kharif,Bajra,48855,302.553828,2.012944,1017.190269,64,peaty,6.440,6.440,0.000,52375.0,1006
2,76867,Karnataka,BAGALKOT,1998,Kharif,Castor seed,71,302.490677,2.497929,1015.286836,64,chalky,3.304,8.260,3.304,61.0,1007
3,76868,Karnataka,BAGALKOT,1998,Kharif,Cotton(lint),15225,303.733295,2.487033,1014.263695,64,clay,0.152,0.152,0.152,22129.0,1005
4,76869,Karnataka,BAGALKOT,1998,Kharif,Groundnut,16368,301.910350,2.242010,1017.452448,63,chalky,4.000,5.000,0.000,7734.0,1005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21117,97982,Karnataka,YADGIR,2014,Summer,Rice,15205,302.303628,2.529410,1016.838988,71,clay,1.325,0.000,0.000,35029.0,1006
21118,97983,Karnataka,YADGIR,2014,Summer,Sunflower,14,302.886851,2.002156,1017.702519,70,loamy,5.980,5.980,0.000,5.0,1006
21119,97984,Karnataka,YADGIR,2014,Whole Year,Coconut,168,303.050650,2.229170,1017.205050,71,chalky,0.000,0.000,0.000,1499.0,1004
21120,97985,Karnataka,YADGIR,2014,Whole Year,Coriander,1,302.637341,2.315178,1014.029037,70,sandy,740.002,0.000,0.000,NaN,1006
21121,97986,Karnataka,YADGIR,2014,Whole Year,Sugarcane,862,302.957638,2.214874,1015.060439,72,clay,32.508,83.076,0.000,78614.0,1005

In [2]:
df.info()   #columns and there data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21122 entries, 0 to 21121
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      21122 non-null  int64
 1   state_names     21122 non-null  object
 2   district_names  21122 non-null  object
 3   crop_year       21122 non-null  int64
 4   season_names    21122 non-null  object
 5   crop_names      21122 non-null  object
 6   area            21122 non-null  int64
 7   temperature     21122 non-null  float64
 8   wind_speed      21122 non-null  float64
 9   precipitation   21122 non-null  float64
 10  humidity        21122 non-null  int64
 11  soil_type       21122 non-null  object
 12  N               21122 non-null  float64
 13  P               21122 non-null  float64
 14  K               21122 non-null  float64
 15  production      21079 non-null  float64
 16  pressure        21122 non-null  int64
dtypes: float64(7), int64(5), object(5)
memory usage: 2.7+ MB

In [3]:
df.columns

Index(['Unnamed: 0', 'state_names', 'district_names', 'crop_year',
       'season_names', 'crop_names', 'area', 'temperature', 'wind_speed',
       'precipitation', 'humidity', 'soil_type', 'N', 'P', 'K', 'production',
       'pressure'],
      dtype='object')

##Reducing Data to One State for Ease

In [4]:
#df = df[df['state_names'] == "Maharashtra"]

#df.info()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21122 entries, 0 to 21121
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      21122 non-null  int64
 1   state_names     21122 non-null  object
 2   district_names  21122 non-null  object
 3   crop_year       21122 non-null  int64
 4   season_names    21122 non-null  object
 5   crop_names      21122 non-null  object
 6   area            21122 non-null  int64
 7   temperature     21122 non-null  float64
 8   wind_speed      21122 non-null  float64
 9   precipitation   21122 non-null  float64
 10  humidity        21122 non-null  int64
 11  soil_type       21122 non-null  object
 12  N               21122 non-null  float64
 13  P               21122 non-null  float64
 14  K               21122 non-null  float64
 15  production      21079 non-null  float64
 16  pressure        21122 non-null  int64
dtypes: float64(7), int64(5), object(5)
memory usage: 2.7+ MB

In [6]:
df.isnull().sum()

Unnamed: 0         0
state_names        0
district_names     0
crop_year          0
season_names       0
crop_names         0
area               0
temperature        0
wind_speed         0
precipitation      0
humidity           0
soil_type          0
N                  0
P                  0
K                  0
production        43
pressure           0
dtype: int64

In [7]:
df.head(6)

,Unnamed: 0,state_names,district_names,crop_year,season_names,crop_names,area,temperature,wind_speed,precipitation,humidity,soil_type,N,P,K,production,pressure
0,76865,Karnataka,BAGALKOT,1998,Kharif,Arhar/Tur,6154,301.802223,2.327734,1018.003584,63,silt,16.008,42.688,21.344,2602.0,1007
1,76866,Karnataka,BAGALKOT,1998,Kharif,Bajra,48855,302.553828,2.012944,1017.190269,64,peaty,6.440,6.440,0.000,52375.0,1006
2,76867,Karnataka,BAGALKOT,1998,Kharif,Castor seed,71,302.490677,2.497929,1015.286836,64,chalky,3.304,8.260,3.304,61.0,1007
3,76868,Karnataka,BAGALKOT,1998,Kharif,Cotton(lint),15225,303.733295,2.487033,1014.263695,64,clay,0.152,0.152,0.152,22129.0,1005
4,76869,Karnataka,BAGALKOT,1998,Kharif,Groundnut,16368,301.910350,2.242010,1017.452448,63,chalky,4.000,5.000,0.000,7734.0,1005
5,76870,Karnataka,BAGALKOT,1998,Kharif,Horse-gram,3372,303.563736,2.898366,1016.255211,63,peaty,1.500,0.000,0.000,1156.0,1005

###Making Yield Column

In [8]:
df

,Unnamed: 0,state_names,district_names,crop_year,season_names,crop_names,area,temperature,wind_speed,precipitation,humidity,soil_type,N,P,K,production,pressure
0,76865,Karnataka,BAGALKOT,1998,Kharif,Arhar/Tur,6154,301.802223,2.327734,1018.003584,63,silt,16.008,42.688,21.344,2602.0,1007
1,76866,Karnataka,BAGALKOT,1998,Kharif,Bajra,48855,302.553828,2.012944,1017.190269,64,peaty,6.440,6.440,0.000,52375.0,1006
2,76867,Karnataka,BAGALKOT,1998,Kharif,Castor seed,71,302.490677,2.497929,1015.286836,64,chalky,3.304,8.260,3.304,61.0,1007
3,76868,Karnataka,BAGALKOT,1998,Kharif,Cotton(lint),15225,303.733295,2.487033,1014.263695,64,clay,0.152,0.152,0.152,22129.0,1005
4,76869,Karnataka,BAGALKOT,1998,Kharif,Groundnut,16368,301.910350,2.242010,1017.452448,63,chalky,4.000,5.000,0.000,7734.0,1005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21117,97982,Karnataka,YADGIR,2014,Summer,Rice,15205,302.303628,2.529410,1016.838988,71,clay,1.325,0.000,0.000,35029.0,1006
21118,97983,Karnataka,YADGIR,2014,Summer,Sunflower,14,302.886851,2.002156,1017.702519,70,loamy,5.980,5.980,0.000,5.0,1006
21119,97984,Karnataka,YADGIR,2014,Whole Year,Coconut,168,303.050650,2.229170,1017.205050,71,chalky,0.000,0.000,0.000,1499.0,1004
21120,97985,Karnataka,YADGIR,2014,Whole Year,Coriander,1,302.637341,2.315178,1014.029037,70,sandy,740.002,0.000,0.000,NaN,1006
21121,97986,Karnataka,YADGIR,2014,Whole Year,Sugarcane,862,302.957638,2.214874,1015.060439,72,clay,32.508,83.076,0.000,78614.0,1005

In [9]:
import seaborn as sns

In [ ]:
sns.relplot(x="area", y="production" ,data=df,kind="line");

In [ ]:
#graphical analysis
sns.relplot(x="area", y="production", hue="district_names",style="season_names", data=df);

In [ ]:
sns.relplot(x="temperature", y="production",  hue="district_names",style="season_names",data=df);

In [ ]:
sns.relplot(x="humidity", y="production", hue="district_names",style="season_names", data=df);

In [ ]:
sns.relplot(x="pressure", y="production",  hue="district_names",style="season_names", data=df);

In [ ]:
sns.relplot(x="season_names", y="production",  hue="district_names",style="season_names", data=df);

##Corelation Heatmap

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sb

C_mat = df.corr()
fig = plt.figure(figsize = (15,15))

sb.heatmap(C_mat, vmax = .8, square = True)
plt.show()

##Taking Data only after 2004 because the data after 2004 is affecting the rersult alot

In [ ]:
#df = df[df['crop_year']>=2004]
#df

In [ ]:
df.info()

##converting data to numerical form

In [ ]:
df = df.join(pd.get_dummies(df['district_names']))
df = df.join(pd.get_dummies(df['season_names']))
df = df.join(pd.get_dummies(df['crop_names']))
df = df.join(pd.get_dummies(df['state_names']))
df = df.join(pd.get_dummies(df['soil_type']))
df

In [ ]:
df['Yield'] = df['production']/df['area']
df

In [ ]:
df = df.drop('production', axis=1)

##Dropping Unecessory Columns

In [ ]:
df=df.drop('district_names', axis=1)
df = df.drop('season_names',axis=1)
df = df.drop('crop_names',axis=1)

In [ ]:
df = df.drop('state_names', axis=1)
df = df.drop('soil_type', axis=1)
df

##Preprocessing

In [ ]:
from sklearn import preprocessing

In [ ]:

# Create x, where x the 'scores' column's values as floats
x = df[['area']].values.astype(float)
x
# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
x_scaled = min_max_scaler.fit_transform(x)

# Run the normalizer on the dataframe
#df_normalized = pd.DataFrame(x_scaled)
x_scaled

df['area'] = x_scaled
df

In [ ]:
df.head()

### Filling Empty Values With Mean

In [ ]:
df = df.fillna(df.mean())

##Train and Test Split

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
a=df

In [77]:
b = df['Yield']
#a = df.drop('Yield', axis = 1)

In [78]:
c = df.drop('Unnamed: 0', axis = 1)

In [79]:
a=c.drop('Yield', axis = 1)

In [80]:
len(a.columns)

111

In [81]:
a.columns

Index(['crop_year', 'area', 'temperature', 'wind_speed', 'precipitation',
       'humidity', 'N', 'P', 'K', 'pressure',
       ...
       'Urad', 'Wheat', 'Karnataka', 'chalky', 'clay', 'loamy', 'peaty',
       'sandy', 'silt', 'silty'],
      dtype='object', length=111)

In [82]:
features_list=['crop_year', 'area', 'temperature', 'wind_speed', 'precipitation',
       'humidity', 'N', 'P', 'K', 'pressure', 'BAGALKOT', 'BANGALORE RURAL',
       'BELGAUM', 'BELLARY', 'BENGALURU URBAN', 'BIDAR', 'BIJAPUR',
       'CHAMARAJANAGAR', 'CHIKBALLAPUR', 'CHIKMAGALUR', 'CHITRADURGA',
       'DAKSHIN KANNAD', 'DAVANGERE', 'DHARWAD', 'GADAG', 'GULBARGA', 'HASSAN',
       'HAVERI', 'KODAGU', 'KOLAR', 'KOPPAL', 'MANDYA', 'MYSORE', 'RAICHUR',
       'RAMANAGARA', 'SHIMOGA', 'TUMKUR', 'UDUPI', 'UTTAR KANNAD', 'YADGIR',
       'Kharif     ', 'Rabi       ', 'Summer     ', 'Whole Year ', 'Arecanut',
       'Arhar/Tur', 'Bajra', 'Banana', 'Black pepper', 'Cardamom', 'Cashewnut',
       'Castor seed', 'Coconut ', 'Coriander', 'Cotton(lint)', 'Cowpea(Lobia)',
       'Dry chillies', 'Dry ginger', 'Garlic', 'Gram', 'Groundnut',
       'Horse-gram', 'Jowar', 'Linseed', 'Maize', 'Mesta', 'Moong(Green Gram)',
       'Niger seed', 'Onion', 'Other  Rabi pulses', 'Other Kharif pulses',
       'Peas & beans (Pulses)', 'Potato', 'Ragi', 'Rapeseed &Mustard', 'Rice',
       'Safflower', 'Sannhamp', 'Sesamum', 'Small millets', 'Soyabean',
       'Sugarcane', 'Sunflower', 'Sweet potato', 'Tapioca', 'Tobacco',
       'Turmeric', 'Urad', 'Wheat', 'Karnataka', 'chalky', 'clay', 'loamy',
       'peaty', 'sandy', 'silt', 'silty']

In [83]:
len(features_list)

97

In [84]:
features_list123=[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]

len(features_list123)

97

In [85]:
len(features_list)

97

In [86]:
a=df[features_list]

In [87]:
a.head()

,crop_year,area,temperature,wind_speed,precipitation,humidity,N,P,K,pressure,...,Urad,Wheat,Karnataka,chalky,clay,loamy,peaty,sandy,silt,silty
0,1998,0.012048,301.802223,2.327734,1018.003584,63,16.008,42.688,21.344,1007,...,0,0,1,0,0,0,0,0,1,0
1,1998,0.095663,302.553828,2.012944,1017.190269,64,6.440,6.440,0.000,1006,...,0,0,1,0,0,0,1,0,0,0
2,1998,0.000137,302.490677,2.497929,1015.286836,64,3.304,8.260,3.304,1007,...,0,0,1,1,0,0,0,0,0,0
3,1998,0.029811,303.733295,2.487033,1014.263695,64,0.152,0.152,0.152,1005,...,0,0,1,0,1,0,0,0,0,0
4,1998,0.032049,301.910350,2.242010,1017.452448,63,4.000,5.000,0.000,1005,...,0,0,1,1,0,0,0,0,0,0

In [88]:
a_train, a_test, b_train, b_test = train_test_split(a, b, test_size = 0.3, random_state = 42)

print(a_train)
print(a_test)
print(b_train)
print(b_test)

       crop_year      area  temperature  wind_speed  precipitation  humidity  \
245         2003  0.003579   302.423710    2.543385    1017.486774        63
20179       2012  0.034436   303.594354    2.115594    1017.274016        80
20046       2007  0.000362   303.298670    2.564392    1015.025628        80
157         2002  0.011199   302.406142    2.621096    1017.660073        64
20339       2000  0.000043   296.394420    2.435588    1014.175732        56
...          ...       ...          ...         ...            ...       ...
11284       2000  0.000063   301.282720    2.959134    1014.119469        75
11964       2014  0.008673   301.717789    2.371770    1016.467080        75
5390        2012  0.000127   301.624694    2.331104    1015.449916        71
860         2000  0.003660   301.086595    2.510115    1016.384642        57
15795       2004  0.000002   299.209889    2.200630    1015.427704        58

            N        P       K  pressure  ...  Urad  Wheat  Karnataka  chalky  \
245     2.921    2.921   0.000      1005  ...     0      0          1       0
20179   3.450    3.450   0.000      1010  ...     0      0          1       0
20046  37.704  100.544  50.272      1008  ...     0      0          1       0
157     0.000    5.184   0.000      1007  ...     0      0          1       0
20339   0.000    0.000   0.000      1004  ...     0      0          1       0
...       ...      ...     ...       ...  ...   ...    ...        ...     ...
11284   2.800    3.500   0.000      1004  ...     0      0          1       0
11964  39.720  105.920  52.960      1005  ...     0      0          1       0
5390   38.250   38.250  38.250      1004  ...     0      0          1       0
860     8.876    8.876   0.000      1008  ...     0      0          1       0
15795  38.250   38.250  38.250      1009  ...     0      0          1       0

       clay  loamy  peaty  sandy  silt  silty
245       0      0      0      0     0      1
20179     0      0      1      0     0      0
20046     0      0      0      1     0      0
157       0      0      0      1     0      0
20339     0      0      1      0     0      0
...     ...    ...    ...    ...   ...    ...
11284     0      0      0      1     0      0
11964     0      0      1      0     0      0
5390      0      1      0      0     0      0
860       0      1      0      0     0      0
15795     0      0      1      0     0      0

[14785 rows x 97 columns]
       crop_year      area  temperature  wind_speed  precipitation  humidity  \
7093        2006  0.003959   298.103934    2.723962    1014.910561        82
4707        2013  0.070211   300.099714    2.274408    1017.078717        81
482         2009  0.002434   302.535117    2.643150    1014.439569        64
6239        2013  0.030369   294.523108    2.649175    1014.556387        52
14572       2008  0.000076   301.642401    2.712562    1016.803265        57
...          ...       ...          ...         ...            ...       ...
10676       2004  0.002465   301.139560    2.783549    1016.454068        69
10039       2007  0.007286   299.174424    2.364559    1015.846900        89
3824        2010  0.000497   301.849440    2.482321    1015.259745        66
15630       2001  0.003771   300.476334    2.134797    1016.460163        59
11187       1998  0.115731   300.909406    2.175752    1017.489729        77

            N        P       K  pressure  ...  Urad  Wheat  Karnataka  chalky  \
7093   38.250   38.250  38.250      1011  ...     0      0          1       0
4707    0.000    5.184   0.000      1004  ...     0      0          1       0
482     0.224    0.280   0.000      1005  ...     0      0          1       0
6239    1.288    3.220   1.288      1004  ...     0      0          1       0
14572  10.240   26.624  26.624      1009  ...     0      0          1       0
...       ...      ...     ...       ...  ...   ...    ...        ...     ...
10676   6.440    6.440   0.000      1007  ...     0      0          1       0
10039  39.720  105.920  52.960      1009  ...     0      0          1       0
3824    3.496    3.496   0.000      1003  ...     0      0          1       0
15630   0.000    0.000   0.000      1009  ...     0      0          1       0
11187   0.000    0.000   0.000      1005  ...     0      0          1       0

       clay  loamy  peaty  sandy  silt  silty
7093      1      0      0      0     0      0
4707      0      0      1      0     0      0
482       0      0      0      0     1      0
6239      1      0      0      0     0      0
14572     0      1      0      0     0      0
...     ...    ...    ...    ...   ...    ...
10676     0      0      0      0     1      0
10039     0      0      0      0     0      1
3824      0      0      0      1     0      0
15630     1      0      0      0     0      0
11187     1      0      0      0     0      0

[6337 rows x 97 columns]
245      42.927829
20179     9.806960
20046     1.747312
157       0.335664
20339     0.347826
           ...
11284     1.030303
11964     0.513995
5390      0.136364
860      15.657754
15795     2.500000
Name: Yield, Length: 14785, dtype: float64
7093      1.100840
4707      0.426555
482       0.381029
6239      0.891103
14572     0.575000
           ...
10676     3.045238
10039    64.599946
3824     33.521569
15630     0.530877
11187     0.338200
Name: Yield, Length: 6337, dtype: float64

In [89]:
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [90]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
a_train = sc.fit_transform(a_train)
a_test = sc.transform(a_test)

###Random Forest Regressor

In [103]:
   from sklearn.ensemble import RandomForestRegressor
   regr = RandomForestRegressor(max_depth=20, random_state=45, n_estimators=200)
   regr.fit(a_train, b_train)
   b_pred = regr.predict(a_test)

   from sklearn.metrics import mean_squared_error as mse
   from sklearn.metrics import mean_absolute_error as mae
   from sklearn.metrics import r2_score

   print('MSE =', mse(b_pred, b_test))
   print('MAE =', mae(b_pred, b_test))
   print('R2 Score =', r2_score(b_pred, b_test))

MSE = 6.957728795717889
MAE = 0.8398564630665664
R2 Score = 0.9594741437128254

###Polynomial Support Vector Machine

In [104]:
from sklearn.svm import SVR
regressorpoly=SVR(kernel='poly',epsilon=1.0)
regressorpoly.fit(a_train,b_train)
pred=regressorpoly.predict(a_test)
print(regressorpoly.score(a_test,b_test))
print(r2_score(b_test,b_pred))

0.8089838019688501
0.9623575914308666

###XGBRegressor

In [105]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error 
XGBModel = XGBRegressor()
XGBModel.fit(a_train,b_train , verbose=False)

# Get the mean absolute error on the validation data :
XGBpredictions = XGBModel.predict(a_test)
MAE = mean_absolute_error(b_test , XGBpredictions)
print('XGBoost validation MAE = ',MAE)
XGBpredictions

XGBoost validation MAE =  0.9918159863336751

array([ 1.3160847 ,  0.33778733,  0.4838936 , ..., 31.057783  ,
        0.6271758 ,  0.8445473 ], dtype=float32)

In [106]:

print(r2_score(b_test , XGBpredictions))

0.9524402023496245

In [107]:
import pickle
# Dump the trained SVM classifier with Pickle
#SVM_pkl_filename = 'xgboost_yield_prediction_final.pkl'
# Open the file to save as pkl file
#SVM_Model_pkl = open(SVM_pkl_filename, 'wb')
#pickle.dump(XGBpredictions, SVM_Model_pkl)
# Close the pickle instances
#SVM_Model_pkl.close()

In [108]:
import joblib
 
# Save the model as a pickle in a file
joblib.dump(XGBModel, 'xgboost_yield_prediction_final.pkl')
 
# Load the model from the file
knn_from_joblib = joblib.load('xgboost_yield_prediction_final.pkl')
 
# Use the loaded model to make predictions